.App {
  text-align: center;
}
.App__title {
  font-size: 48px;
}

.App__task-form-cont {
  display: flex;
  flex-direction: column;
}

.App__filters-cont {
  margin: 0 5%;
}
.App__add-button {
  width: 150px;
  margin: 5% auto ;
  height: 40px;
}
.App__add-button:hover {
  cursor: pointer;
}
.App__filter-inner-cont {
  display: flex;
  width: 80%;
  margin: auto;
  /* justify-content: space-around; */
}
.App__completed-filter-checkbox-cont {
  width: 70%;
  margin: 0 0 0 3%;
  display: flex;
}
.App__title_compl-filter {
  margin: 0;
  font-size: 23px;
}
.App__completed-checkbox-filter {
  width: 40px;
  font-size: 40px;
}




@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
