.tagsSelect {
  margin: 0 auto;
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.tagsSelect__tags-cont {
  margin: 0 3% 0 0;
}
.tagsSelect__title {
  text-align: left;
  margin: 0;
}
.tagsSelect__select-tag {
  margin: 6% 0 0 0;
  height: 50%;
  min-height: 100px;
}
.tagsSelect__select-tag-option {

}
.tagsSelect__selected-tags-cont {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-height: 140px;
  overflow: scroll;
  width: 50%;
  max-width: 300px;
}

.tagsSelect__selected-tags-inner-cont {
  margin-top: 5%;
}
.tagsSelect__single-tag-cont {
  border: 1px solid black;
  /* margin: 2% 0; */
  display: flex;
  justify-content: space-between;
}
.tagsSelect__tag-label {
  margin: auto ;
  font-size: 13px;
}

.tagsSelect__tag-label-cancel {
  font-size: 30px;
  opacity: 0.3;
  margin: auto 5%;
}

.tagsSelect__tag-label-cancel::after{
  display: inline-block;
  content: "\00d7";
}

.tagsSelect__tag-label-cancel:hover {
  opacity: 1;
  cursor: pointer;
}