.taskForm {
  margin: auto;
  display: flex;
  flex-direction: column;
  width: 70%;
}

.taskForm__description-cont {
  width: 70%;
}

.taskForm__tags-cont {
  margin: 0 3% 0 0;
}
.taskForm__description-input {
  width: 90%;
  height: 20%;
  margin: 3% 3% 3% 0; 
  font-size: 24px;
}

.taskForm__select-tag {
  margin: 6% 0 0 0;
  height: 50%;
}
.taskForm__title {
  text-align: left;
  margin: 0 0 0 1.5%;
}

.taskForm__add-task-button {
  width: 150px;
  margin: 5% auto ;
  height: 40px;
}

.taskForm__main-cont {
  display: flex;
  height: 200px;
}


