.task {
  display: flex;
  border: 1px solid black;
  margin: 2%;
}

.task__id {
  width: 5%;
  margin: auto;
}

.task__description {
  width: 30%;
  margin: auto;
}

.task__tags-cont {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
}

.task__tag {
  border: 1px solid black;
  /* border-radius: 25%; */
  margin: 2%;
  display: flex;
  
}

.task__delete-button {
  width: 10%;
  margin: auto;
}

.task__completed-checkbox {
  margin: 0 0.5%;
  width: 2%;
}
.task__completed-checkbox:hover {
  opacity: 0.5;
  cursor: pointer;
}
.task__tag-label {
  font-size: 13px;
  margin: 1%;
}
.task__tag-delete-button {
  margin: auto 2%;
  font-size: 26px;
  opacity: 0.3;
  text-align: center;
}
.task__tag-delete-button::after {
  display: inline-block;
  content: "\00d7";
}
.task__tag-delete-button:hover {
  opacity: 1;
  cursor: pointer;
}